@use "variables" as v;
@use "mixins" as m;

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
}

body {
  font-size: 1.6rem;
  font-family: v.$primary-font;
}

img {
  display: block;
  max-width: 100%;
}

.bg-dark-blue {
  background-color: v.$dark-blue;
}

.vh-100 {
  min-height: 100vh;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
